
img {
  display: block;
  width: auto;
  height: auto;
  border-radius: 5%;
}

.wrapper {
  width: 95%;
  margin: 20px auto;
  /* background-color:blueviolet; */
}

.cards_wrap {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.cards_wrap .card_item {
  /* width: 25%; */
  padding: 10px;
}

.cards_wrap .card_inner {
  display: flex;
  background: #fff;
  border-radius: 3%;
  border: 3px solid aqua;
  background-color: rgba(85, 220, 199, 0.2);
  padding: 10px;
}

.cards_wrap .card_top {
  width: 100%;
  /* min-height: 225px; */
  padding: 10px;
  /* padding-bottom: 0; */
}

.cards_wrap .card_bottom {
  padding: 10px;
}

.cards_wrap .card_bottom .card_title {
  text-transform: uppercase;
  /* text-align: center; */
  font-size: 12px;
}

.cards_wrap .card_bottom .card_info {
  padding: 15px;
  margin: 10px 0;
  border: 1px dashed aqua;
}

.card_title{
  color: aqua;
}

.artist{
  color: aqua;
  font-size: 13px;
  margin-bottom: 5px;
}

/* .cards_wrap .card_bottom .card_info .artist {
  color: aqua;
  font-size: 13px;
  margin-bottom: 5px;
}
.cards_wrap .card_bottom .card_info .album-name, .total-tracks {
    color: aqua;
    font-size: 10px;
} */

.button_card{
    color: rgb(177, 97, 97);
    font-size: medium;
    background-color: aqua;
    width: 100%;
}

/* .button_card a{
    display: block;
    text-decoration: none;
    color: rgb(15, 74, 83);
    font-size: medium;
} */

.button_card:hover {
    color: black;
    background-color: rgb(26, 214, 214);
}

/* @media (max-width: 1024px) {
  .cards_wrap .card_item {
    width: 33.3%;
  }
}

@media (max-width: 768px) {
  .cards_wrap .card_item {
    width: 50%;
  }
}

@media (max-width: 528px) {
  .cards_wrap .card_top {
    height: auto;
  }
  .cards_wrap .card_item {
    width: 100%;
  }
} */
